# Read csv

Nellie,F,995
===>year_df

yob1880.txt
===>year + year_df = df

In [1]:
import pandas as pd
%matplotlib inline 

!ls

pd.options.display.max_colwidth = None
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.4f}'.format

README.md   data        names.ipynb

In [2]:
import os
import pandas as pd

# データを格納するディレクトリ
path = "/Users/yamakick/myprojects/1_Homework/names/names/data/namesbystate"  # 実際の絶対パスに置き換えてください

# CSVファイルを読み込み、データフレームのリストに格納
dataframes = []
labels = ['State', 'Sex', 'Year', 'Name', 'Number']
data = []

for filename in os.listdir(path):
    if filename.endswith('.TXT'):
        full_path = os.path.join(path, filename)

        with open(full_path, 'r') as file: 
            for line in file:
                processed_line = line.strip().split(",") 
                data.append(processed_line)

df = pd.DataFrame(data)
    


df.columns = labels
df

        State Sex  Year     Name Number
0          IN   F  1910     Mary    619
1          IN   F  1910    Helen    324
2          IN   F  1910     Ruth    238
3          IN   F  1910  Dorothy    215
4          IN   F  1910  Mildred    200
...       ...  ..   ...      ...    ...
6504156    DE   M  2023  Tristan      5
6504157    DE   M  2023   Victor      5
6504158    DE   M  2023   Walker      5
6504159    DE   M  2023   Zayden      5
6504160    DE   M  2023    Zayne      5

[6504161 rows x 5 columns]

In [3]:
df['Sex'] = df['Sex'].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6504161 entries, 0 to 6504160
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   State   object
 1   Sex     category
 2   Year    object
 3   Name    object
 4   Number  object
dtypes: category(1), object(4)
memory usage: 204.7+ MB

In [4]:
df['State'] = df['State'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6504161 entries, 0 to 6504160
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   State   category
 1   Sex     category
 2   Year    object
 3   Name    object
 4   Number  object
dtypes: category(2), object(3)
memory usage: 161.3+ MB

# delete data before 2010

In [77]:
df['Year'] = df['Year'].astype('int')

df['Number'] = df['Number'].astype('int')
df['Name'] = df['Name'].astype('str')
# df.info()
df = df[df['Year'] > 2010]

In [6]:
df.nunique(dropna=False)

State        51
Sex           2
Year        114
Name      33058
Number     4942
dtype: int64

In [7]:
# df[df['Year'] == 2023].sort_values(by='Number', ascending=False).head(5)

total_df = pd.read_csv("./data/names/yob2023.txt",
                      header=None) 
total_df

               0  1      2
0         Olivia  F  15270
1           Emma  F  13527
2      Charlotte  F  12596
3         Amelia  F  12311
4         Sophia  F  11944
...          ... ..    ...
31677      Zyell  M      5
31678       Zyen  M      5
31679     Zymirr  M      5
31680     Zyquan  M      5
31681      Zyrin  M      5

[31682 rows x 3 columns]

In [8]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31682 entries, 0 to 31681
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       31682 non-null  object
 1   1       31682 non-null  object
 2   2       31682 non-null  int64
dtypes: int64(1), object(2)
memory usage: 742.7+ KB

In [9]:
??pd.read_csv

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

# Brith

In [70]:
# https://wonder.cdc.gov/controller/datarequest/D149;jsessionid=B0315D4AA7551A2B800943366B42#Notes

birth_df = pd.read_csv("./data/Natality, 2016-2022 expanded.txt",
                        sep="\t", # tabをseparator
                       # nrows = 5,    
                       # index_col = 'Notes'
                       # header=None
                  )
# birth_df[birth_df['Notes'].notna()].to_clipboard() 
# these NaNs are explanatory raws, so I delete them

birth_df = birth_df[birth_df['Notes'].isna()]
birth_df = birth_df.drop(columns = ['Notes', 'State of Residence Code', 'Year Code'])
birth_df['Year'] = birth_df['Year'].astype(int)
birth_df['Births'] = birth_df['Births'].astype(int)

birth_df.info()
birth_df.nunique(dropna=False)

<class 'pandas.core.frame.DataFrame'>
Index: 357 entries, 0 to 406
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State of Residence  357 non-null    object
 1   Year                357 non-null    int64
 2   Births              357 non-null    int64
dtypes: int64(2), object(1)
memory usage: 11.2+ KB

State of Residence     51
Year                    7
Births                356
dtype: int64

# Organize State Names

In [11]:
states_tables = pd.read_html("https://www.faa.gov/air_traffic/publications/atpubs/cnt_html/appendix_a.html")

states_table = states_tables[0]
# states_table= states_table.rename(columns = {'STATE(TERRITORY)':'State', 'STATE(TERRITORY).1':'Abbreviation'})
# states_table= states_table.rename(mapper = {1:'State', 2:'Abbreviation'})
# states_table= states_table.rename(index= {1:'State', 2:'Abbreviation'})
states_table

,STATE(TERRITORY),STATE(TERRITORY).1,STATE(TERRITORY).2,STATE(TERRITORY).3,STATE(TERRITORY).4,STATE(TERRITORY).5
0,Alabama,AL,Kentucky,KY,Ohio,OH
1,Alaska,AK,Louisiana,LA,Oklahoma,OK
2,Arizona,AZ,Maine,ME,Oregon,OR
3,Arkansas,AR,Maryland,MD,Pennsylvania,PA
4,American Samoa,AS,Massachusetts,MA,Puerto Rico,PR
5,California,CA,Michigan,MI,Rhode Island,RI
6,Colorado,CO,Minnesota,MN,South Carolina,SC
7,Connecticut,CT,Mississippi,MS,South Dakota,SD
8,Delaware,DE,Missouri,MO,Tennessee,TN
9,District of Columbia,DC,Montana,MT,Texas,TX
10,Florida,FL,Nebraska,NE,Trust Territories,TT
11,Georgia,GA,Nevada,NV,Utah,UT
12,Guam,GU,New Hampshire,NH,Vermont,VT
13,Hawaii,HI,New Jersey,NJ,Virginia,VA
14,Idaho,ID,New Mexico,NM,Virgin Islands,VI
15,Illinois,IL,New York,NY,Washington,WA
16,Indiana,IN,North Carolina,NC,West Virginia,WV
17,Iowa,IA,North Dakota,ND,Wisconsin,WI
18,Kansas,KS,Northern Mariana Islands,MP,Wyoming,WY

In [12]:
columun1 = {'STATE(TERRITORY)':'State', 'STATE(TERRITORY).1':'Abbreviation'}
table1 = states_table[columun1.keys()].rename(columns = columun1)

In [13]:
columun2 = {'STATE(TERRITORY).2':'State', 'STATE(TERRITORY).3':'Abbreviation'}
table2 = states_table[columun2.keys()].rename(columns = columun2)

In [14]:
columun3 = {'STATE(TERRITORY).4':'State', 'STATE(TERRITORY).5':'Abbreviation'}
table3 = states_table[columun3.keys()].rename(columns = columun3)

In [29]:
state_df = (pd.concat([table1, table2, table3])
            .reset_index(drop=True))
state_df

                       State Abbreviation
0                    Alabama           AL
1                     Alaska           AK
2                    Arizona           AZ
3                   Arkansas           AR
4             American Samoa           AS
5                 California           CA
6                   Colorado           CO
7                Connecticut           CT
8                   Delaware           DE
9       District of Columbia           DC
10                   Florida           FL
11                   Georgia           GA
12                      Guam           GU
13                    Hawaii           HI
14                     Idaho           ID
15                  Illinois           IL
16                   Indiana           IN
17                      Iowa           IA
18                    Kansas           KS
19                  Kentucky           KY
20                 Louisiana           LA
21                     Maine           ME
22                  Maryland           MD
23             Massachusetts           MA
24                  Michigan           MI
25                 Minnesota           MN
26               Mississippi           MS
27                  Missouri           MO
28                   Montana           MT
29                  Nebraska           NE
30                    Nevada           NV
31             New Hampshire           NH
32                New Jersey           NJ
33                New Mexico           NM
34                  New York           NY
35            North Carolina           NC
36              North Dakota           ND
37  Northern Mariana Islands           MP
38                      Ohio           OH
39                  Oklahoma           OK
40                    Oregon           OR
41              Pennsylvania           PA
42               Puerto Rico           PR
43              Rhode Island           RI
44            South Carolina           SC
45              South Dakota           SD
46                 Tennessee           TN
47                     Texas           TX
48         Trust Territories           TT
49                      Utah           UT
50                   Vermont           VT
51                  Virginia           VA
52            Virgin Islands           VI
53                Washington           WA
54             West Virginia           WV
55                 Wisconsin           WI
56                   Wyoming           WY

# Strategy in following code
* 4 dataframes: Statename, birth, total_df, df(names by state)
* birth =>use statename
* New column to df(names by state), which calculates the share of that name
* Another new column to df(names by state), which calculates the share of the total df
* Finally, calculate the rate
* Top 100 names in total in each year

In [39]:
# birth_df.merge(state_df, how='left', left_on='State', right_on='Abbreviation')
df = (df.merge(state_df, how='inner', left_on='State', right_on='Abbreviation')
    .drop(columns=['State_x','Abbreviation'])
    .rename(columns = {'State_y':'State'}))

In [42]:
df['State'] = df['State'].astype('category')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6504161 entries, 0 to 6504160
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   Sex     category
 1   Year    int64
 2   Name    object
 3   Number  int64
 4   State   category
dtypes: category(2), int64(2), object(1)
memory usage: 161.3+ MB

In [ ]:
df['name_share'] = df['name_share']

John in NY 500, the entire births in NY 5000
Soma in
10%

In [78]:
df

        Sex  Year      Name  Number     State
68570     F  2011      Emma     453   Indiana
68571     F  2011    Olivia     448   Indiana
68572     F  2011       Ava     444   Indiana
68573     F  2011    Sophia     430   Indiana
68574     F  2011  Isabella     379   Indiana
...      ..   ...       ...     ...       ...
6504156   M  2023   Tristan       5  Delaware
6504157   M  2023    Victor       5  Delaware
6504158   M  2023    Walker       5  Delaware
6504159   M  2023    Zayden       5  Delaware
6504160   M  2023     Zayne       5  Delaware

[1227168 rows x 5 columns]

In [88]:
sum_names_df = df.groupby("Year").sum("Number").reset_index()
sum_names_df

    Year   Number
0   2011  3088557
1   2012  3085812
2   2013  3082673
3   2014  3145191
4   2015  3138487
5   2016  3104262
6   2017  3015432
7   2018  2958153
8   2019  2912528
9   2020  2790976
10  2021  2833255
11  2022  2822007
12  2023  2745320

In [85]:
df2 = df.copy()

In [86]:
df2

        Sex  Year      Name  Number     State
68570     F  2011      Emma     453   Indiana
68571     F  2011    Olivia     448   Indiana
68572     F  2011       Ava     444   Indiana
68573     F  2011    Sophia     430   Indiana
68574     F  2011  Isabella     379   Indiana
...      ..   ...       ...     ...       ...
6504156   M  2023   Tristan       5  Delaware
6504157   M  2023    Victor       5  Delaware
6504158   M  2023    Walker       5  Delaware
6504159   M  2023    Zayden       5  Delaware
6504160   M  2023     Zayne       5  Delaware

[1227168 rows x 5 columns]

In [98]:
# df2['name_share'] = df2['Number'] / sum_names_df[sum_names 
# df2

In [90]:
birth_df.rename(columns={"State of Residence":"State"}, inplace = True)
birth_df

       State  Year  Births
0    Alabama  2016   59151
1    Alabama  2017   58941
2    Alabama  2018   57761
3    Alabama  2019   58615
4    Alabama  2020   57647
..       ...   ...     ...
402  Wyoming  2018    6562
403  Wyoming  2019    6565
404  Wyoming  2020    6128
405  Wyoming  2021    6237
406  Wyoming  2022    6049

[357 rows x 3 columns]

In [89]:
birth_df

    State of Residence  Year  Births
0              Alabama  2016   59151
1              Alabama  2017   58941
2              Alabama  2018   57761
3              Alabama  2019   58615
4              Alabama  2020   57647
..                 ...   ...     ...
402            Wyoming  2018    6562
403            Wyoming  2019    6565
404            Wyoming  2020    6128
405            Wyoming  2021    6237
406            Wyoming  2022    6049

[357 rows x 3 columns]

In [91]:
df_combined = pd.merge(df2, birth_df, on=['State', 'Year'])
df_combined

       Sex  Year       Name  Number     State  Births
0        F  2016       Emma     430   Indiana   83091
1        F  2016     Olivia     395   Indiana   83091
2        F  2016        Ava     365   Indiana   83091
3        F  2016  Charlotte     340   Indiana   83091
4        F  2016     Harper     323   Indiana   83091
...     ..   ...        ...     ...       ...     ...
662725   M  2022     Tucker       5  Delaware   10816
662726   M  2022     Victor       5  Delaware   10816
662727   M  2022       Zane       5  Delaware   10816
662728   M  2022       Zion       5  Delaware   10816
662729   M  2022     Zyaire       5  Delaware   10816

[662730 rows x 6 columns]

In [92]:
df_combined['name_share'] = df_combined['Number'] / df_combined['Births']

       Sex  Year       Name  Number     State  Births  name_share
0        F  2016       Emma     430   Indiana   83091      0.0052
1        F  2016     Olivia     395   Indiana   83091      0.0048
2        F  2016        Ava     365   Indiana   83091      0.0044
3        F  2016  Charlotte     340   Indiana   83091      0.0041
4        F  2016     Harper     323   Indiana   83091      0.0039
...     ..   ...        ...     ...       ...     ...         ...
662725   M  2022     Tucker       5  Delaware   10816      0.0005
662726   M  2022     Victor       5  Delaware   10816      0.0005
662727   M  2022       Zane       5  Delaware   10816      0.0005
662728   M  2022       Zion       5  Delaware   10816      0.0005
662729   M  2022     Zyaire       5  Delaware   10816      0.0005

[662730 rows x 7 columns]

In [100]:
df_combined.sort_values('Number', ascending=False)
# df_combined['Number'].max()

       Sex  Year     Name  Number          State  Births  name_share
484852   F  2016      Mia    2803     California  488827      0.0057
484853   F  2016   Sophia    2759     California  488827      0.0056
492490   F  2018     Emma    2752     California  454920      0.0060
488726   F  2017     Emma    2742     California  471658      0.0058
510853   M  2016     Noah    2701     California  488827      0.0055
...     ..   ...      ...     ...            ...     ...         ...
252348   M  2016     Tony       5  Massachusetts   71317      0.0001
252349   M  2016    Trent       5  Massachusetts   71317      0.0001
252350   M  2016  Trenton       5  Massachusetts   71317      0.0001
252351   M  2016  Tristen       5  Massachusetts   71317      0.0001
662729   M  2022   Zyaire       5       Delaware   10816      0.0005

[662730 rows x 7 columns]

In [114]:
birth_df[(birth_df['Year'] == 2016) & (birth_df['State'] == 'California')]
# birth_df[birth_df['State'] == 'California']
df_combined[(df_combined['Name'] == 'Mia') & (df_combined['Year'] == 2016)].sort_values('name_share', ascending=False)

       Sex  Year Name  Number                 State  Births  name_share
484852   F  2016  Mia    2803            California  488827      0.0057
257392   F  2016  Mia     131            New Mexico   24692      0.0053
531000   F  2016  Mia     189           Connecticut   36015      0.0052
171280   F  2016  Mia     532            New Jersey  102647      0.0052
305632   F  2016  Mia    2019                 Texas  398047      0.0051
367532   F  2016  Mia     422               Arizona   84520      0.0050
297116   F  2016  Mia     179                Nevada   36260      0.0049
604248   F  2016  Mia    1049               Florida  225022      0.0047
198015   F  2016  Mia     953              New York  234283      0.0041
656243   F  2016  Mia      43          Rhode Island   10798      0.0040
244586   F  2016  Mia     271         Massachusetts   71317      0.0038
15877    F  2016  Mia     582              Illinois  154445      0.0038
591090   F  2016  Mia      35  District of Columbia    9858      0.0036
396642   F  2016  Mia     306            Washington   90505      0.0034
38798    F  2016  Mia     123                Kansas   38053      0.0032
635001   F  2016  Mia     429          Pennsylvania  139409      0.0031
90186    F  2016  Mia     204              Colorado   66613      0.0031
59962    F  2016  Mia      55                Hawaii   18059      0.0030
566560   F  2016  Mia      78              Nebraska   26589      0.0029
286974   F  2016  Mia     129                Oregon   45535      0.0028
466970   F  2016  Mia     289              Virginia  102460      0.0028
573620   F  2016  Mia     151              Kentucky   55449      0.0027
130150   F  2016  Mia     133                  Utah   50464      0.0026
10       F  2016  Mia     218               Indiana   83091      0.0026
233008   F  2016  Mia     137              Oklahoma   52592      0.0026
141255   F  2016  Mia     163             Louisiana   63178      0.0026
418668   F  2016  Mia     309        North Carolina  120779      0.0026
439664   F  2016  Mia     190              Missouri   74705      0.0025
413246   F  2016  Mia      48         West Virginia   19079      0.0025
539105   F  2016  Mia      28                Alaska   11209      0.0025
265104   F  2016  Mia     338                  Ohio  138085      0.0024
545840   F  2016  Mia      14               Vermont    5756      0.0024
547540   F  2016  Mia     273              Michigan  113315      0.0024
116222   F  2016  Mia     176              Maryland   73136      0.0024
350674   F  2016  Mia     193             Tennessee   80807      0.0024
659459   F  2016  Mia      26              Delaware   10992      0.0024
63852    F  2016  Mia     306               Georgia  130042      0.0024
188925   F  2016  Mia      89              Arkansas   38274      0.0023
158331   F  2016  Mia     153             Wisconsin   66615      0.0023
103739   F  2016  Mia      28         New Hampshire   12267      0.0023
594920   F  2016  Mia      88                  Iowa   39403      0.0022
542111   F  2016  Mia      25          North Dakota   11383      0.0022
107322   F  2016  Mia      81           Mississippi   37928      0.0021
86364    F  2016  Mia      26          South Dakota   12275      0.0021
383225   F  2016  Mia     142             Minnesota   69749      0.0020
48216    F  2016  Mia     108        South Carolina   57342      0.0019
584759   F  2016  Mia      42                 Idaho   22482      0.0019
229439   F  2016  Mia      21               Montana   12282      0.0017
454359   F  2016  Mia      98               Alabama   59151      0.0017
154698   F  2016  Mia      20                 Maine   12705      0.0016
263398   F  2016  Mia      11               Wyoming    7386      0.0015

In [ ]:
# name share gapを算出すればおもろいんじゃないか?